﻿@model GeoLocationViewModel

@if (Model.ReadOnly)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="form-group col-xs-12">
                    <label asp-for="Address"></label>
                    <p class="form-control-static">@Model.Address</p>
                </div>
                <div class="form-group col-xs-12">
                    <label asp-for="Lat"></label>
                    <p id="Lat" class="form-control-static">@Model.Lat</p>
                </div>
                <div class="form-group col-xs-12">
                    <label asp-for="Lng"></label>
                    <p id="Lng" class="form-control-static">@Model.Lng</p>
                </div>
            </div>
            <!-- address -->

            <div class="row">
                <div class="col-xs-12">
                    <div class="geolocation-map-wrapper">
                        <div id="geolocation-map"></div>
                    </div>
                </div>
            </div>
            <!-- map -->
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="form-group col-xs-8">
                            <label asp-for="Address"></label>
                            <input asp-for="Address" class="form-control"/>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group col-xs-4">
                            <a id="geolocation-address-btn" class="btn btn-primary btn-sm geolocation-btn">Search</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- address -->

            <div class="row">
                <div class="col-xs-12">
                    <div class="geolocation-map-wrapper">
                        <div id="geolocation-map"></div>
                    </div>
                </div>
            </div>
            <!-- map -->

            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label asp-for="Lat"></label>
                        <input asp-for="Lat" class="form-control"/>
                        <span asp-validation-for="Lat" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label asp-for="Lng"></label>
                        <input asp-for="Lng" class="form-control"/>
                        <span asp-validation-for="Lng" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-xs-4">
                    <a id="geolocation-location-btn" class="btn btn-primary btn-sm geolocation-btn">Find Address</a>
                </div>
            </div>
            <!-- lat and lng -->
        </div>
    </div>
}

