﻿@model CreateEditClientObjectViewModel

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="WebAddress"></label>
            <input asp-for="WebAddress" class="form-control" />
            <span asp-validation-for="WebAddress" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Country"></label>
            <input asp-for="Country" class="form-control" />
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Active"></label>
            <input asp-for="Active" />
        </div>
    </div>

    <div class="col-md-6">
        @await Component.InvokeAsync("GeoLocation", Model.GeoLocationViewModel)
    </div>
</div>