﻿<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /search-input -->
            </li>
            <li mit-active-route-controllers="Client,Contract" mit-active-route-actions="Index,Create,Edit,Details" mit-active-route-class="active">
                <a mit-active-route-controllers="Client,Contract" mit-active-route-actions="Edit,Details" mit-active-route-class="active">
                    <i class="fa fa-dashboard fa-fw"></i> Clients<span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a asp-controller="Client" asp-action="Index" mit-active-route-class="active"><i class="fa fa-bar-chart-o fa-fw"></i> Lists</a>
                    </li>
                    <li>
                        <a asp-controller="Client" asp-action="Create" mit-active-route-class="active"><i class="fa fa-table fa-fw"></i> Create</a>
                    </li>
                </ul>
            </li>
            <li asp-controller="Contract" asp-action="All" mit-active-route-class="active">
                <a asp-controller="Contract" asp-action="All" mit-active-route-class="active">
                    <i class="fa fa-files-o fa-fw"></i> Contracts
                </a>
            </li>
            <li asp-controller="ContractType" mit-active-route-actions="Index,Create,Edit,Details" mit-active-route-class="active">
                <a asp-controller="ContractType" mit-active-route-actions="Edit,Details" mit-active-route-class="active">
                    <i class="fa fa-edit fa-fw"></i> Nomenclatures<span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a asp-controller="ContractType" mit-active-route-actions="Edit,Details" mit-active-route-class="active">
                            <i class="fa fa-edit fa-fw"></i> Contracts Types<span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a asp-controller="ContractType" asp-action="Index" mit-active-route-class="active"><i class="fa fa-wrench fa-fw"></i> Lists</a>
                            </li>
                            <li>
                                <a asp-controller="ContractType" asp-action="Create" mit-active-route-class="active"><i class="fa fa-sitemap fa-fw"></i> Create</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-wrench fa-fw"></i> Languages</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>