﻿@model String

<ul class="nav nav-tabs">
    <li asp-controller="Client" mit-active-route-actions="Details, Edit" mit-active-route-class="active">
        <a asp-controller="Client" asp-action="Details" asp-route-id="@Model">Client</a>
    </li>
    <li asp-controller="Contract" asp-action="Index" mit-active-route-class="active">
        <a asp-controller="Contract" asp-action="Index" asp-route-clientId="@Model" mit-active-route-class="active">Contracts</a>
    </li>
</ul>