﻿@model ApplicationUser

@Html.Partial("ClientContractsTabs", Model.Id)

<div class="form-group">
    <label asp-for="@Model.Name"></label>
    <span>@Model.Name</span>
</div>

<div class="form-group">
    <label asp-for="@Model.Email"></label>
    <span>@Model.Email</span>
</div>

<div class="form-group">
    <label asp-for="@Model.Company"></label>
    <span>@Model.Company</span>
</div>

<div class="form-group">
    <label asp-for="@Model.Address"></label>
    <span>@Model.Address</span>
</div>

<div class="form-group">
    <label asp-for="@Model.PhoneNumber"></label>
    <span>@Model.PhoneNumber</span>
</div>

<div class="form-group">
    <label asp-for="@Model.Notes"></label>
    <span>@Model.Notes</span>
</div>

<div class="form-group">
    <label asp-for="@Model.Active"></label>
    <span>@Model.Active</span>
</div>

<a class="btn btn-default" asp-action="Index">List</a>
<a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>