﻿@model IEnumerable<ApplicationUser>

<table class="display datatable datatable-search datatable-actions table table-condensed table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Client Name</th>
        <th>Client Email</th>
        <th>Phone Number</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.PhoneNumber</td>
            <td class="text-center"><i mit-status="@item.Active"></i></td>
            <td class="text-center">
                <a asp-action="Details" asp-route-id="@item.Id" title="details"><i class="fa fa-eye"></i></a>
                <a asp-action="Edit" asp-route-id="@item.Id" title="edit"><i class="fa fa-edit"></i></a>
                <a asp-action="Index" asp-controller="Contract" asp-route-clientId="@item.Id" title="contracts"><i class="fa fa-list"></i></a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a class="btn btn-primary" asp-action="Create">Create Client</a>
