﻿@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

body .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

body .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

body .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #666666;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

    body .form button:hover,
    body .form button:active,
    body .form button:focus {
        background: #666666;
    }

body .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
    }

body .form .message a {
            color: #666666;
            text-decoration: none;
        }

body .form .register-form {
        display: none;
    }

body .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

    body .container:before,
    body .container:after {
        content: "";
        display: block;
        clear: both;
    }

body .container .info {
        margin: 50px auto;
        text-align: center;
    }

body .container .info h1 {
            margin: 0 0 15px;
            padding: 0;
            font-size: 36px;
            font-weight: 300;
            color: #1a1a1a;
        }

body .container .info span {
            color: #4d4d4d;
            font-size: 12px;
        }

body  .container .info span a {
                color: #000000;
                text-decoration: none;
            }

body .container .info span .fa {
                color: #EF3B3A;
            }

body {
    background: #666666; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #666666, #999999);
    background: -moz-linear-gradient(right, #666666, #999999);
    background: -o-linear-gradient(right, #666666, #999999);
    background: linear-gradient(to left, #666666, #999999);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
