﻿body {
}

.page-header {
    margin-top: 20px;
}

.nav.nav-tabs {
    margin-bottom: 15px;
}
.search-cmp {
    margin-bottom: 20px;
}

.geolocation-map-wrapper {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
}

#geolocation-map {
    width: 100%;
    height: 300px;
}

.geolocation-btn {
    margin-top: 26px;
}

/*.navbar-default {
    background-color: #D7D7D7;
}

body {
    background-color: #D7D7D7;
}*/

.fa {
    margin-left: 5px;
}

img.profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
}