﻿<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /search-input -->
            </li>
            <li asp-controller="Profile" mit-active-route-actions="Index,Edit,ChangePassword" mit-active-route-class="active">
                <a asp-controller="Profile" mit-active-route-actions="" mit-active-route-class="active">
                    <i class="fa fa-dashboard fa-fw"></i> Profile<span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a asp-controller="Profile" asp-action="Index" mit-active-route-class="active"><i class="fa fa-bar-chart-o fa-fw"></i> Details</a>
                    </li>
                    <li>
                        <a asp-controller="Profile" asp-action="Edit" mit-active-route-class="active"><i class="fa fa-table fa-fw"></i> Edit</a>
                    </li>
                    <li>
                        <a asp-controller="Profile" asp-action="ChangePassword" mit-active-route-class="active"><i class="fa fa-table fa-fw"></i> Change Password</a>
                    </li>
                </ul>
            </li>
            <li asp-controller="ClientObject" mit-active-route-actions="Index,Create,Edit,Details" mit-active-route-class="active">
                <a asp-controller="ClientObject" mit-active-route-actions="Edit,Details" mit-active-route-class="active">
                    <i class="fa fa-edit fa-fw"></i> Client Objects<span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a asp-controller="ClientObject" asp-action="Index" mit-active-route-class="active">
                            <i class="fa fa-edit fa-fw"></i> List
                        </a>
                    </li>
                    <li>
                        <a asp-controller="ClientObject" asp-action="Create" mit-active-route-class="active">
                            <i class="fa fa-wrench fa-fw"></i> Create
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>