﻿@model ListAllContracts

<div class="row search-cmp">
    <div class='col-xs-12 form-inline'>
        <form asp-action="All" method="post" class="form-inline">
            <div class="form-group">
                <label asp-for="ContractType"></label>
                <div class="input-group">
                    <input asp-for="ContractType" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="StartDate"></label>
                <div class="input-group date datetimepicker">
                    <input asp-for="StartDate" class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="EndDate"></label>
                <div class="input-group date datetimepicker">
                    <input asp-for="EndDate" class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
    
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>

<table class="display datatable datatable-no-search data-table-actions table table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Client Name</th>
            <th>Contract Start Date</th>
            <th>Contract End Date</th>
            <th>Contract Type</th>
            <th>Client Email</th>
            <th>Phone Number</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contracts)
        {
            <tr>
                <td><a asp-controller="Client" asp-action="Details" asp-route-id="@item.Item1.Id">@item.Item1.Name</a></td>
                <td>@item.Item2.StartDate</td>
                <td>@item.Item2.EndDate</td>
                <td>@item.Item2.ContractType.Name</td>
                <td>@item.Item1.Email</td>
                <td>@item.Item1.PhoneNumber</td>
                <td>@item.Item1.Active</td>
                <td>
                    @*<a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Item1.Id">Details</a>
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Item1.Id">Edit</a>
                    <a class="btn btn-primary" asp-action="Index" asp-controller="Contract" asp-route-clientId="@item.Item1.Id">Contracts</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>