﻿@model CreateContractViewModel

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" asp-route-clientId="@Model.ClientId" method="post">
    <input type="hidden" name="ClientId" value="@Model.ClientId"/>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ContractTypeId"></label>
        <select asp-for="ContractTypeId" class="form-control" asp-items="@Model.ContractTypes">
            <option disabled selected value="">Select a Contract Type</option>
        </select>
        <span asp-validation-for="ContractTypeId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DateRange"></label>
        <input asp-for="DateRange" class="form-control daterange"/>
        <span asp-validation-for="DateRange" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Active"></label>
        <input asp-for="Active"/>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" asp-route-clientId="@Model.ClientId" class="btn btn-default">Cancel</a>
</form>