﻿@model ApplicationUser

@Html.Partial("ClientContractsTabs", Model.Id)

<table class="display datatable datatable-search datatable-actions table table-condensed table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Contract Name</th>
            <th>Contract Start Date</th>
            <th>Contract End Date</th>
            <th>Contract Type</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contracts)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
                <th>@item.ContractType.Name</th>
                <td>@item.Active</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-action="Create" asp-route-clientId="@Model.Id">Create</a>