﻿@model Mitrix.Areas.Client.Models.ProfileViewModels.ChangePasswordViewModel

<div class="text-danger" asp-validation-summary="All"></div>

<form asp-action="ChangePassword" method="post">
    
    <div class="form-group">
        <label asp-for="CurrentPassword"></label>
        <input asp-for="CurrentPassword" class="form-control" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewPasswordConfirmation"></label>
        <input asp-for="NewPasswordConfirmation" class="form-control" />
        <span asp-validation-for="NewPasswordConfirmation" class="text-danger"></span>
    </div>
    <button class="btn btn-primary" type="submit">Change</button>
    <a class="btn btn-default" asp-action="Index">Cancel</a>
</form>