﻿@model ApplicationUser

<div class="form-group">
    name: @Model.Name
</div>

<div class="form-group">
    email: @Model.Email
</div>

<div class="form-group">
    company: @Model.Company
</div>

<div class="form-group">
    address: @Model.Address
</div>

<div class="form-group">
    phone: @Model.PhoneNumber
</div>

<a class="btn btn-primary btn-sm" asp-action="Edit">Edit</a>
<a class="btn btn-primary btn-sm" asp-action="ChangePassword" >Change Password</a>
