﻿@model string

<div class="login-page">
    <div class="form">
        <p>You don't have access to required resources</p>
        <p class="message">Try to login with another account? <a asp-action="Login" asp-route-returnUrl="@Model">Log In</a>
</div>
</div>
