﻿@model ForgotPasswordViewModel


@if (Model.Completed)
{
    <div class="login-page">
        <div class="form">
            <p>We send you an email with a link to recover your password.</p>
        </div>
    </div>
}
else
{
    <div class="login-page">
        <div class="form">
            <div class="text-danger" asp-validation-summary="All"></div>

            <form class="login-form" asp-action="ForgotPassword" method="post" novalidate="">
                <span asp-validation-for="Email" class="text-danger"></span>
                <input asp-for="Email" placeholder="email"/>

                <button type="submit">Recover</button>
                <p class="message">Do you have an account? <a asp-action="Login">Log In</a>
                </p>
            </form>
        </div>
    </div>
}
