﻿@model LoginViewModel

<div class="login-page">
    <div class="form">
        <div class="text-danger" asp-validation-summary="All"></div>

        <form class="login-form" asp-action="Login" method="post" novalidate="">
            <span asp-validation-for="Email" class="text-danger"></span>
            <input asp-for="Email" placeholder="email"/>

            <span asp-validation-for="Password" class="text-danger"></span>
            <input asp-for="Password" placeholder="password"/>
            
            <button type="submit">login</button>
            <p class="message">Forgor Password? <a asp-action="ForgotPassword">Recover it</a>
            </p>
        </form>
    </div>
</div>