﻿@model SetupPasswordViewModel

<div class="login-page">
    <div class="form">
        <div class="text-danger" asp-validation-summary="All"></div>

        <form class="login-form" asp-action="SetupPassword" method="post" novalidate="">
            <input asp-for="Token" type="hidden" />
            <input asp-for="Email" type="hidden" />

            <span asp-validation-for="Password" class="text-danger"></span>
            <input asp-for="Password" placeholder="password"/>

            <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
            <input asp-for="PasswordConfirmation" placeholder="confirm password"/>

            <button type="submit">
                @(Model.SetupPasswordType == SetupPasswordType.NewClient ? "Setup your pass" : "Recover Pass")
            </button>
        </form>
    </div>
</div>
