﻿@model CreateEditClientObjectViewModel

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    
    @Html.EditorForModel()

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-default">Cancel</a>
</form>

@section styles{
    @{ await Html.RenderPartialAsync("StylesGeoLocation"); }
}

@section scripts{
    @{ await Html.RenderPartialAsync("ScriptsGeoLocation"); }
}
