﻿@model CreateEditClientObjectViewModel

<div class="row">
    <div class="col-xs-6">
        <div class="form-group">
            <label asp-for="Name"></label>
            <p class="form-control-static">@Model.Name</p>
        </div>

        <div class="form-group">
            <label asp-for="WebAddress"></label>
            <p class="form-control-static">@Model.Name</p>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <p class="form-control-static">@Model.Name</p>
        </div>

        <div class="form-group">
            <label asp-for="Country"></label>
            <p class="form-control-static">@Model.Country</p>
        </div>

        <div class="form-group">
            <label asp-for="Active"></label>
            <p class="form-control-static">@Model.Active</p>
        </div>
    </div>

    <div class="col-xs-6">
        @await Component.InvokeAsync("GeoLocation", Model.GeoLocationViewModel)
    </div>
    
    <div class="col-xs-12">
        <a class="btn btn-default" asp-action="Index">List</a>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    </div>
</div>

@section styles{
    @{ await Html.RenderPartialAsync("StylesGeoLocation"); }
}

@section scripts{
    @{ await Html.RenderPartialAsync("ScriptsGeoLocation"); }
}