﻿@model CreateEditClientObjectViewModel

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Edit" method="post">

    @Html.EditorForModel()

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-default">Cancel</a>
</form>

@section styles{
    @{ await Html.RenderPartialAsync("StylesGeoLocation"); }
}

@section scripts{
    @{ await Html.RenderPartialAsync("ScriptsGeoLocation"); }
}
