﻿@model ApplicationUser

<table class="display datatable table table-condensed table-bordered table table-striped table-hover" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Address</th>
            <th>Description</th>
            <th>Active</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ClientObjects)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Country</td>
                <td>@item.Address</td>
                <td>@item.Description</td>
                <td class="text-center"><i mit-status="@item.Active"></i></td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-action="Create">Create</a>