﻿@model CreateEditClientObjectViewModel

<div class="form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="WebAddress"></label>
    <input asp-for="WebAddress" class="form-control" />
    <span asp-validation-for="WebAddress" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Description"></label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Country"></label>
    <input asp-for="Country" class="form-control" />
    <span asp-validation-for="Country" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Active"></label>
    <input asp-for="Active" />
</div>
    
@await Component.InvokeAsync("GeoLocation")