﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @{ await Html.RenderPartialAsync("_StylesPartial"); }
    <link rel="stylesheet" href="~/css/account.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
@RenderBody()

@{ await Html.RenderPartialAsync("_ScriptsPartial"); }
@RenderSection("Scripts", required: false)
</body>
</html>