﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin 2 - Bootstrap Admin Theme</title>
    
    
    @{ await Html.RenderPartialAsync("_StylesPartial"); }
    @RenderSection("Styles", required: false)

    
</head>
<body>
    <div id="wrapper">
        <!-- NAVIGATION -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Mitrix</a>
            </div>
            <!-- /.navbar-top-left-header -->

            <ul class="nav navbar-top-links navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-item-messages -->
                </li>
                <!-- /.dropdown-messages -->

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-item-tasks -->
                </li>
                <!-- /.dropdown-tasks -->

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-item-alerts -->
                </li>
                <!-- /.dropdown-alerts -->

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        @User.Identity.Name <img class="profile" src="~/img/profile.png"/>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-items-user -->
                </li>
                <!-- /.dropdown-user -->
            </ul>
            <!-- /.navbar-top-right-header -->
            
            @if ("Admin".Equals(ViewContext.RouteData.Values["area"] as string, StringComparison.CurrentCultureIgnoreCase))
            {
                @Html.Partial("~/Areas/Admin/Views/Shared/_AdminNavigation.cshtml")
            }
            else if ("Client".Equals(ViewContext.RouteData.Values["area"] as string, StringComparison.CurrentCultureIgnoreCase))
            {
                @Html.Partial("~/Areas/Client/Views/Shared/_ClientNavigation.cshtml")
            }
            else
            {
                <p>No esta definido la navegacion</p>
            }

            <!-- /.navbar-left -->
        </nav>

        <!-- BODY -->
        <div id="page-wrapper">
            <div>
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Clients</a></li>
                    <li>Details</li>
                </ul>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-header">
                        @ViewBag.Header
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                @* more content here *@
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>

    @{ await Html.RenderPartialAsync("_ScriptsPartial"); }
    @RenderSection("Scripts", required: false)

    <script src="~/js/sb-admin-2.js"></script>
</body>
</html>
