﻿<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/metisMenu/dist/metisMenu.min.js"></script>

<environment names="Development">
    @* moment *@
    <script src="~/lib/moment/min/moment.min.js"></script>

    @* jquery *@
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

    @* jquery unobtrusive *@
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    @* datatable *@
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>

    @* date range picker *@
    <script type="text/javascript" src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
</environment>

<environment names="Staging,Production">
    @* moment *@
    <script src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"
            asp-fallback-src="~/lib/moment/min/moment.min.js"
            crossorigin="anonymous"
            integrity="sha384-JrXK+k53HACyavUKOsL+NkmSesD2P+73eDMrbTtTk0h4RmOF8hF8apPlkp26JlyH">
    </script>

    @* jquery *@
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator"
            crossorigin="anonymous"
            integrity="sha384-Fnqn3nxp3506LP/7Y3j/25BlWeA3PXTyT1l78LjECcPaKCV12TsZP7yyMxOe/G/k">
    </script>

    @* jquery unobtrusive *@
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"
            crossorigin="anonymous"
            integrity="sha384-JrXK+k53HACyavUKOsL+NkmSesD2P+73eDMrbTtTk0h4RmOF8hF8apPlkp26JlyH">
    </script>

    @* datatable *@
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"
            asp-fallback-src="~/lib/datatables.net/js/jquery.dataTables.min.js"
            crossorigin="anonymous"
            integrity="sha384-JrXK+k53HACyavUKOsL+NkmSesD2P+73eDMrbTtTk0h4RmOF8hF8apPlkp26JlyH">
    </script>

    @* date range picker *@
    <script src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"
            asp-fallback-src="~/lib/bootstrap-daterangepicker/daterangepicker.js"
            crossorigin="anonymous"
            integrity="sha384-JrXK+k53HACyavUKOsL+NkmSesD2P+73eDMrbTtTk0h4RmOF8hF8apPlkp26JlyH">
    </script>

</environment>

@* bootstrap datetime picker *@
<script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

<script src="~/js/dataTables.bootstrap.min.js"></script>

<script src="~/js/site.js"></script>

