﻿
<environment names="Development">
    @* bootstrap *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
</environment>

<environment names="Staging,Production">
    @* bootstrap *@
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
</environment>

@* font awesome *@
<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css"/>

@* metis menu *@
<link rel="stylesheet" href="~/lib/metisMenu/dist/metisMenu.min.css" />

@* date range picker *@
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<link rel="stylesheet" href="~/lib/bootstrap-daterangepicker/daterangepicker.css"/>

@* bootstrap datetime picker *@
<link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"/>

<link rel="stylesheet" href="~/css/dataTables.bootstrap.css" />

<link href="~/css/sb-admin-2.css" rel="stylesheet">

<link rel="stylesheet" href="~/css/site.css"/>

