﻿<script src="~/js/geo-location.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6PxdfqBKFcsv0WF0chJLSlxBWLIO-huo&libraries=places&callback=initGeoLocation" async defer></script>